<h2>Olá, {{ name }}.</h2>
<p>
    Segue o link de recuperação de senha.
</p>
<p>
    <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar a Senha</a>
</p>
<p>
    Caso não tenha sido você desconcidere o e-mail.
</p>
<p>
    <strong>- App ACG</strong>
</p>